#sida1 {
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  background-color: #f39c12;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 15% auto 20%;
  grid-template-areas:
    "hd hd nav"
    "as mn mn"
    "ft ft ft";


header {
  grid-area: hd;
  background: #2c3e50;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
    color: #e7e9eb; 
    text-decoration: none; 
  }

nav {
  grid-area: nav;
  background: #34495e;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


aside {
  grid-area: as;
  background: #ecf0f1;
  color: black;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  grid-area: mn;
  background: #3498db;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  grid-area: ft;
  background: #2c3e50;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

body {
  margin: 0;
}

#circle{
width: 150%;
height: 100%;
}
#sida2{
 display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: #f39c12;
    grid-template-columns: 35% 35% auto;
    grid-template-rows: 15% auto auto 15%;
    grid-template-areas:
        "hd hd nav"
        "as mn mn"
        "as mn2 mn2"
        "ft ft ft";

a {
    color: #dde2e8; 
    text-decoration: none; 
}


header{
  grid-area: hd;
  background: #2c3e50;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

main{
 grid-area: mn;
  background: #3498db;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#main2{
   grid-area: mn2;
  background: #3498db;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

aside{
  grid-area: as;
  background: #ecf0f1;
  color: black;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}


footer{
 grid-area: ft;
  background: #f39c12;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
}
nav{
  grid-area: nav;
  background: #34495e;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#finances{
  width: 110%;
  height: 110%;
  border-radius: 20px;
}

#ads{
width: 120%;
height: 190%;

}
}

#sida3{
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  background-color: #f39c12;
  grid-template-columns: 15% 1fr 1fr 20%;
  grid-template-rows: 15% auto auto 20%;
  grid-template-areas:
    "hd hd hd nav"
    "as mn mn mn"
    "nm nm nm sa"
    "ft ft ft ft";
}
a {
    color: #dde2e8; 
    text-decoration: none; 
}


header{
  grid-area: hd;
  background: #2c3e50;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

main{
 grid-area: mn;
  background: #3498db;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#main23{
 grid-area: nm;
  background: #3498db;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

aside{
  grid-area: as;
  background: #ecf0f1;
  color: black;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#aside23{
 grid-area: sa;
  background: #ecf0f1;
  color: black;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer{
 grid-area: ft;
  background: #2c3e50;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  grid-area: nav;
  background: #34495e;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 10px;
}

#woman{
  width: 120%;
  height: 120%;
  border-radius: 20px;
}

#man{
  width: 127%;
  height: 127%;
  border-radius: 20px;
}
